.ui.inverted.vertical.OptionsMenu {
    border-left: 1px solid white;
    pointer-events: all;
    overflow-y: scroll;
    overflow-x: hidden;
}

.ui.transparent.inverted.input.error > input {
    color: #9f3a38;
}